#banner{
	background-color: #fff;
	height: -webkit-fill-available;
	background-image: url('../images/3134.jpg');
	background-size: 100%;
	background-color: #fff;
}

/*NAVIGATION*/
.navbar-index{
	background-color: #1b1b1b;
}
.navbar-index .navbar-brand{
	text-align: right;
}
.navbar-logo{
	text-align: left;
	color: #fff;
    line-height: 1.1;
    font-size: 17px;
    font-family: Roboto;
}
.navbar-logo img{
	width: 55px;
	margin: 5px 0;
}

/*SITE BANNER */
.site-title{
    color: #000;
    font-family: Times New Roman;
    margin-top: 190px;
}
.site-title h1{
    font-size: 70px;
    text-align: left;
    font-weight: bold;
    color: #000;
    text-shadow: 5px 5px 11px rgba(150, 150, 150, 1);
}


/*BUTTON SECTION*/
.btn-section{
	width: 100%;
    color: #000;

}
.btn-section button{
    border: 1px solid #000;
    padding: 10px 40px;
    box-sizing: border-box;
    background: transparent;
    text-transform: uppercase;
    border-radius: 0px;
}
.btn-section button:hover{
    background: #1b1b1b;
    color: #fff;
    transition: 0.3s;
    -webkit-box-shadow: 10px 6px 47px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 6px 47px -16px rgba(0,0,0,0.75);
	box-shadow: 10px 6px 47px -16px rgba(0,0,0,0.75);
}
.btn-section button:hover > a{
	color: #fff;

}
.btn-section a{
	color: #000;
}
.login-btn-sec{
    text-align: right;
    padding: 10px;
}
.reg-btn-sec{
	padding: 10px;
}

/*COS LOGO*/
.cos-logo{
	text-align: center;
    margin-bottom: 65px;
}
.cos-logo img{
	width: 12%;
}

/*SIDE BAR MENU*/
.sidebar{
    background-color: transparent;
    margin: 20px 5px;
    border-radius: 7px;
    -webkit-box-shadow: -6px -10px 83px -30px rgba(0,0,0,0.75);
-moz-box-shadow: -6px -10px 83px -30px rgba(0,0,0,0.75);
box-shadow: -6px -10px 83px -30px rgba(0,0,0,0.75);
}
.sidebar span{
	color: #f5d02a;
}
.sidebar-menu{
	background-color: #f3cf2b;
	text-align: center;
	color: #fff;
}
.sidebar-submenu a{
	color: #fff;
}
.sidebar-submenu a:hover{
	color: #f5d02a;
	text-decoration: underline;
	transition: 0.5s;
}
.sidebar-submenu td{
	/*border-top: 1px solid #1b1b1b !important;*/
	padding: 5px 2px;
}
.sidebar-submenu td:hover{
	    background-color: rgba(255,255,255,0.15);
    color: #000;
    cursor: pointer;
    transition: 0.5s;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
}
.profile-sidebar{
	padding: 15px 0;
	text-align: center;
}

.profile-userpic img{
	width: 40%;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0;
}
.profile-usertitle{
    text-transform: capitalize;
    margin: 0px;
    text-align: center;
}
.profile-usermenu{
	background-color: #3e3d3d;
    margin: 10px 0;
}
.profile-userbuttons{
	text-align: center;
}

/*Content categories*/
.viewfilecontainer{
	margin-top: 20px;
	min-height: 620px;
   border-radius: 7px;
    -webkit-box-shadow: 10px 10px 50px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 50px -15px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 50px -15px rgba(0,0,0,0.75);
}
.categories{
    min-height: 620px;
   border-radius: 7px;
    -webkit-box-shadow: 10px 10px 50px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 50px -15px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 50px -15px rgba(0,0,0,0.75);
}
.category-title{
	/*border-bottom: 1px solid #1b1b1b;*/
    padding: 5px 10px;
    background-color: #bf2626;
    margin-top: 22px;
    color: #fff;
       border-radius: 10px 10px 0 0px;
}
.category-content{
	    height: 720px;
    /*overflow-y: scroll;*/
    /*margin-bottom: 35px;*/

}
.category-content th{
	text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.category-fname{
	    /*background-color: #1b1b1b;*/
    color: #000;
}
.filename{

}
.file{
	/*background-color: #efefef;*/
    padding: 5px 15px;
        /*text-align: center;*/
}
.file a:hover{
	color: #bd2031;
	text-decoration: underline;
}
.file img {
	width: 15%;
	float: left;
}
.file a{
	font-weight: bold;
	color: #000;
	margin-left: 6px;
}
.file p{
	margin:	-9px 0 0px 36px;
}
.file-action{
	text-align: center;
}
.file-type{
	text-align: center;
}
.action{
    padding: 12px 15px;
	text-align: center;
}
.action span{
	font-size: 16px;
	color: #bd2031;
}
.action button{
	background: transparent;
	border: none;
	padding: 2px;
}
.qr-modal img{
	float: none;
    width: 21%;
}
/*CSS PANEL*/
.upload-panel{
    border-color: #d3e0e9;
    background-color: #fff;
    /*min-height: -webkit-fill-available;*/
    margin: 70px 0;
}
.upload-panel .panel-heading{
	background-color: #bd2031;
	color: #fff;
}

.area-panel .panel-title span{
	color: #1b1b1b; float: right; font-size: 15px;
}
.area-panel .panel-title span:hover{
	color: #F5D02B; 
}
/*Buttons*/
.pending{
	text-align: center;
}
.pending button{
	background: transparent;
	border: none;
	padding: 2px;
}

.approve span:hover{
	color: #2ab27b;
}
.ignore span:hover{
	color: 	#954120;
}
.see-all{
	    background: transparent;
    border: none;
    padding: 2px 0px;
}
.keyword{
	background: transparent;
    border: none;
    margin: 3px 0;
    color: #fff
}

/*alerts*/
.msg-alert{
	text-align: center;
	width: 85%;
	margin: 0 auto;
	margin-top: 14px;
	position:fixed;
    z-index: 999;
}

/*home uploads*/

#user-date{
	    text-align: left;
    padding: 0 39px;
    vertical-align: middle;
}
#user-date p{
    font-size: 13px;
    margin: -4px 0 0px 0px;
}
#user-date label{
	margin: 0px;
}
.type label{
	text-transform: uppercase;
	    vertical-align: middle;
}
.select, .type{
	text-align: center;
}

/*view file css*/

#file-content{
	min-height: -webkit-fill-available;
}
#file-content img{
	width: 25%;
}
#file-content th{
	text-align: center;
}
#file-content .qr-scan {
	text-align: center;
}

.download{
    padding: 2px 5px;
    border-radius: 2px;
	background-color: #337ab7;
	border: none;
}
.view {
	padding: 2px 5px;
    border-radius: 2px;
	background-color: #337ab7;
	border: none;

}
.download a, 
.bin-delete a, 
.view a, 
.bin-restore a{
	color: #fff;
	font-weight: normal;
}
.download a:hover, 
.view a:hover, 
.bin-restore a:hover{
	color: #fff;

}
.keywords{
	color: #000;
}
.create{
	border-color: #d3e0e9;
    background-color: #fff;
    margin: 20px 0;
}
.create > .panel-heading{
background: #bf2626;
    color: #fff;
}

/*All Areas*/
.tile-menu{
	display: inline-block;
	padding: 20px;
	text-align: center;
	margin: 0 auto;
}
.area-box{
	border: 1px solid transparent;
	padding: 5px 5px;
    text-align: center;
    box-sizing: border-box;
    /*border-radius: 3px;*/
    margin-bottom: 12px;
    margin-right: 10px;
    float: left;
    width: 99%;
}
.area-box > a{
	font-size: 20px;
	text-transform: uppercase;
	font-family: Roboto;
	letter-spacing: 1px;
}
.area-box:hover{
	/*background-color: #1b1b1b;*/
	transition: 0.5s;
	border: 4px solid #efefef;
	/*color: #fff;*/
}
.box5:hover,
.box8:hover{
	border: 4px solid #1b1b1b;

}
.all-area-content{
    height: auto;
}
.box1{
	height: 350px;
    background-color: #f5d02a;
    color: #fff;
}
.box1 >a,
.box7 >a{
	color: #bf2626;
}
.box1 >p,
.box7 >p{
	color: #efefef;
}
.box2{
	height: 230px;
    background-color: #1b1b1b;
}
.box3{
	height: 300px;
    background-color: #bf2626;
    color: #000;
}
.box2 >p,
.box6 >p,
.box9 >p{
	color: #bf2626;
}

.box3 >p,
.box4 >p,
.box10 >p{
	color: #fff;
}
.box3 >a,
.box4 >a,
.box10 >a{
	color: #f5d02a;
}
.box4{
	height: 400px;
	margin-top: -78px;
    background-color: #bf2626;

}
.box5{
	margin-top: -78px;
	height: 200px;
    background-color: #fff;
}
.box5 >p,
.box8 >p{
	color: #000;
}
.box5 >a,
.box8 >a{
	color: #bf2626;
}
.box6{
	height: 132px;
	margin-top: -10px;
    background-color: #1b1b1b;

}
.box7{
	margin-top: -10px;
	height: 198px;
	background-color: #f5d02a;
    color: #fff;
}
.box8{
	margin-top: -293px;
    height: 282px;
    background-color: #fff;

}
.box9{
	margin-top: -10px;
	height: 100px;
    background-color: #1b1b1b;
}
.box10{
	margin-top: -10px;
	height: 100px;
	background-color: #bf2626;

}
.home{
	cursor: pointer;
}

/*search results*/
.search-result{
	padding: 5px 15px;
}
.search-result img{
    width: 13%;
    float: left;
}
.search-result a{
	font-weight: bold;
	color: #000;
}
.search-result a:hover{
	text-decoration: underline;
	transition: 0.3s;
	color: #bd2031;
}
.search-result p{
	margin: -4px 0 0 0;
}